<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Customer\Model\Customer" type="Excellence\Hello\Model\Rewrite\Customer\Customer" />
    <preference for="Magento\Customer\Model\ResourceModel\Customer" type="Excellence\Hello\Model\Rewrite\Customer\ResourceModel\Customer\Customer" />
</config>
